{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
<div class="flashes danger">
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  <a href="{{ url_for('confirm_delete', id=post.id) }}">Confirm</a>
  <a href="{{ url_for('single_post', id=post.id) }}">Cancel</a>
</div>
{% endif %}
{% endwith %}

{{ macros.render_post(post) }}

{% endblock %}


{% block footer %}


<p class="previous small">
   <a href="{{ url_for('posts') }}" class="text=muted">&larr; Back</a>
</p>


{% endblock %}
