/* Defining site wide styles
--------------------------------------------------- */
.container {
    width: 60%;
}

h1 {
    margin-top: 10px;
    font-weight: 100;
    font-size: 20px;
}

ul {
    margin-top: 9px;
}

.tiny {
    font-size: .5em;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #ffffff;
}


/* Custom CSS for custom classes
----------------------------------------------------- */
div.metadata {
    font-size: 13px;
    font-weight: 200;
}

.pager li>a {
    padding: 0;
    border: none;
}
